@media screen and (max-width: 240px) {
  html {
    font-size: 35.5%;
  }
}
@media screen and (min-width: 600px) {
  html {
    font-size: 55.5%;
  }
  .btn {
    padding: 1.5rem 5rem;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 58.5%;
  }
  .btn {
    padding: 2rem 5rem;
  }
}
@media screen and (min-width: 801px) {
  html {
    font-size: 62.5%;
  }
  .btn {
    padding: 2.4rem 5rem;
  }
}
@media screen and (min-width: 1280px) {
  html {
    font-size: 68.5%;
  }
  .grid {
    height: 98%;
    width: 50%;
  }
  .wrap-buttons {
    width: 50%;
  }
  .btn {
    width: 100%;
  }
}
@media screen and (min-width: 1980px) {
  html {
    font-size: 78.5%;
  }
}
