* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 45.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #121212;
}

p,
label,
button {
  font-size: 2rem;
}

input,
select {
  font-size: 1.7rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #eeedf0;
}

h1 {
  font-size: 4.2rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2rem;
}

body {
  background: #eeedf0;
}

header {
  height: 10vh;
}

main {
  height: 85vh;
}

nav {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.logo {
  font-family: "Monoton", cursive;
  color: #124469;
  letter-spacing: 0.1rem;
}

.main-game {
  opacity: 1;
  visibility: visible;
  transition: all 400ms ease;
  display: block;
  height: 85vh;
}

.wrap-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 90%;
  width: 90%;
}

.block {
  width: 100%;
  border: 1px solid #eeedf0;
}

.press {
  height: 100%;
  width: 100%;
  border: none;
  background: #37566ede;
  color: #eeedf0;
  font-size: 3rem;
  font-weight: 600;
}

.wrap-buttons {
  width: 90%;
  height: 20%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  grid-gap: 1rem;
}

.restart,
.quit {
  width: 100%;
}

.btn {
  padding: 0.7rem 5rem;
  border: none;
  border-radius: 0.8rem;
  color: #eeedf0;
  width: 90%;
  margin: auto;
  cursor: pointer;
}

.restart-btn {
  background: #124469;
}

.quit-btn {
  background: #d96330;
}

.start {
  height: 90vh;
  opacity: 1;
  visibility: visible;
  transition: all 400ms ease;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 2.5fr 0.5fr;
}

.start-inactive {
  opacity: 0;
  visibility: hidden;
  transition: none;
}

.button-wrapper,
.select-buttons {
  width: 100%;
  height: 100%;
  grid-area: 2/1/2/1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  opacity: 1;
  visibility: visible;
  transition: all 350ms ease-in-out;
}

.start-btn {
  letter-spacing: 0.15rem;
  padding: 3rem 8rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  text-align: center;
  box-shadow: inset 0 0 0 4px #4c57e0;
  color: #4c57e0;
  transition: color 0.35s 0.11667s;
  position: relative;
}

.start-btn::before, .start-btn::after {
  border: 0 solid transparent;
  border-radius: 0.5rem;
  box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}

.start-btn::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}

.start-btn::after {
  border-top-width: 4px;
  border-right-width: 4px;
}

.start-btn:hover, .start-btn:active {
  color: #41a1e0;
}

.start-btn:hover::before, .start-btn:hover::after, .start-btn:active::before, .start-btn:active::after {
  border-color: #41a1e0;
  transition: border-color 0s, width 0.35s, height 0.35s;
  width: 100%;
  height: 100%;
}

.start-btn:hover::before, .start-btn:active::before {
  transition-delay: 0s, 0s, 0.35s;
}

.start-btn:hover::after, .start-btn:active::after {
  transition-delay: 0s, 0.35s, 0s;
}

.select-btn {
  letter-spacing: 0.15rem;
  padding: 3rem 6rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  text-align: center;
}

.ai {
  box-shadow: inset 0 0 0 4px #e08158;
  color: #e08158;
  transition: color 0.35s 0.11667s;
  position: relative;
}

.ai::before, .ai::after {
  border: 0 solid transparent;
  border-radius: 0.5rem;
  box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}

.ai::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}

.ai::after {
  border-top-width: 4px;
  border-right-width: 4px;
}

.ai:hover, .ai:active {
  color: #b63f0c;
}

.ai:hover::before, .ai:hover::after, .ai:active::before, .ai:active::after {
  border-color: #b63f0c;
  transition: border-color 0s, width 0.35s, height 0.35s;
  width: 100%;
  height: 100%;
}

.ai:hover::before, .ai:active::before {
  transition-delay: 0s, 0s, 0.35s;
}

.ai:hover::after, .ai:active::after {
  transition-delay: 0s, 0.35s, 0s;
}

.players {
  box-shadow: inset 0 0 0 4px #ead071;
  color: #ead071;
  transition: color 0.35s 0.11667s;
  position: relative;
}

.players::before, .players::after {
  border: 0 solid transparent;
  border-radius: 0.5rem;
  box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  left: 0;
}

.players::before {
  border-bottom-width: 4px;
  border-right-width: 4px;
}

.players::after {
  border-top-width: 4px;
  border-left-width: 4px;
}

.players:hover, .players:active {
  color: #c39f1d;
}

.players:hover::before, .players:hover::after, .players:active::before, .players:active::after {
  border-color: #c39f1d;
  transition: border-color 0s, width 0.35s, height 0.35s;
  width: 100%;
  height: 100%;
}

.players:hover::before, .players:active::before {
  transition-delay: 0s, 0s, 0.35s;
}

.players:hover::after, .players:active::after {
  transition-delay: 0s, 0.35s, 0s;
}

.fas {
  pointer-events: none;
  font-size: 2.5rem;
}

.ai-difficulty-wrapper {
  grid-area: 2/1/2/1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 350ms ease-in-out;
}

.difficulty-title {
  margin-bottom: 10%;
  color: #124469;
  letter-spacing: 0.05rem;
}

#difficulty {
  cursor: pointer;
  padding: 1rem 6rem;
  border: 1px solid #124469;
  border-radius: 0.5rem;
  text-align: center;
  appearance: none;
  background: #eeedf0;
  color: #124469;
}

#difficulty ::placeholder {
  text-align: center;
}

#difficulty ::-webkit-input-placeholder {
  text-align: center;
}

#difficulty :-moz-placeholder {
  text-align: center;
}

.difficulty-options {
  position: relative;
  background: none;
}

#difficulty::-ms-expand {
  display: none;
}

.difficulty-options::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f078";
  position: absolute;
  color: #124469;
  top: 34%;
  right: 3%;
  font-size: 1.6rem;
  pointer-events: none;
}

.player-names {
  grid-area: 2/1/2/1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  opacity: 1;
  visibility: visible;
  transition: all 250ms ease-in;
}

.player-names form {
  height: 80%;
  width: 55%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.player-names .form-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column-reverse;
  width: 100%;
  position: relative;
  height: 50%;
}

.player-names .form-wrap input {
  background: none;
  border: none;
  border-bottom: 3px solid white;
  outline: none;
  letter-spacing: 0.05rem;
}

.player-names .form-wrap label {
  position: absolute;
  font-weight: 300;
  letter-spacing: 0.12rem;
}

.player-names .form-wrap label span {
  display: inline-block;
  font-size: 1.8rem;
  transition: 300ms cubic-bezier(0.627, -0.559, 0.269, 1.58);
}

.player-names .form-wrap input:focus + label span,
.player-names .form-wrap input:valid + label span {
  color: #228cd3;
  transform: translateY(-100%);
}

.player-names .form-wrap input:focus,
.player-names .form-wrap input:valid {
  border-bottom-color: #228cd3;
}

.player-names .form-wrap-btn {
  width: 100%;
}

.play-pl {
  padding: 1.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  text-align: center;
  box-shadow: inset 0 0 0 4px #41a1e0;
  color: #41a1e0;
  transition: color 0.35s 0.11667s;
  position: relative;
  width: 100%;
  padding-block: 1rem;
  transition: all 200ms linear;
  cursor: pointer;
}

.play-pl::before, .play-pl::after {
  border: 0 solid transparent;
  border-radius: 0.5rem;
  box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  left: 0;
}

.play-pl::before {
  border-bottom-width: 4px;
  border-right-width: 4px;
}

.play-pl::after {
  border-top-width: 4px;
  border-left-width: 4px;
}

.play-pl:hover, .play-pl:active {
  color: #4c57e0;
}

.play-pl:hover::before, .play-pl:hover::after, .play-pl:active::before, .play-pl:active::after {
  border-color: #4c57e0;
  transition: border-color 0s, width 0.35s, height 0.35s;
  width: 100%;
  height: 100%;
}

.play-pl:hover::before, .play-pl:active::before {
  transition-delay: 0s, 0s, 0.35s;
}

.play-pl:hover::after, .play-pl:active::after {
  transition-delay: 0s, 0.35s, 0s;
}

.play-pl i {
  pointer-events: none;
  font-size: 2rem;
}

.play-pl:active {
  transform: scale(0.98);
}

.inactive {
  opacity: 0;
  visibility: hidden;
  transition: none;
}

.inactive-section {
  opacity: 0;
  visibility: hidden;
  transition: none;
  display: none;
}

.btn-inactive {
  pointer-events: none;
}

.commentary-wrap {
  height: 7%;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.commentary-wrap p,
.commentary-wrap span {
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
}

.commentary-wrap span {
  font-weight: 600;
  color: #124469;
  margin-right: 1rem;
}

.commentary-wrap p {
  font-weight: 400;
  color: #4c57e0;
}

footer {
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.footer-text {
  margin-right: 1rem;
}

.footer-text p {
  font-size: 1.6rem;
  color: #124469;
}

.footer-text .dev {
  letter-spacing: 0.15rem;
  font-style: italic;
}

.gh-link i {
  font-size: 1.7rem;
  color: #124469;
  transition: all 300ms ease-in-out;
}

.gh-link i:hover {
  transform: rotate(360deg) scale(1.1);
}

@media screen and (max-width: 240px) {
  html {
    font-size: 35.5%;
  }
}

@media screen and (min-width: 600px) {
  html {
    font-size: 55.5%;
  }
  .btn {
    padding: 1.5rem 5rem;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 58.5%;
  }
  .btn {
    padding: 2rem 5rem;
  }
  .player-names form {
    width: 30%;
  }
  #name1,
  #name2 {
    width: 100%;
  }
}

@media screen and (min-width: 801px) {
  html {
    font-size: 62.5%;
  }
  .btn {
    padding: 2.4rem 5rem;
  }
}

@media screen and (min-width: 1000px) {
  .player-names form {
    height: 60%;
  }
}

@media screen and (min-width: 1280px) {
  html {
    font-size: 68.5%;
  }
  .grid {
    height: 98%;
    width: 50%;
  }
  .wrap-buttons {
    width: 50%;
  }
  .btn {
    width: 100%;
  }
}

@media screen and (min-width: 1980px) {
  html {
    font-size: 78.5%;
  }
}
/*# sourceMappingURL=style.css.map */